<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{ /css/style.css}">
    <meta charset="utf-8">
    <title>Admin Page</title>
  </head>
  <body>
    <nav>
      <li><a th:href="@{ /}">Home</a></li>
      <li><a th:href="@{ /list}">List</a></li>
      <li><a th:href="@{ /addfood}">Add Review</a></li>
      <li><a th:href="@{ /aboutus}">About Us</a></li>
    </nav>

     <footer>@ <a href="aboutme.html">NEP AS2</a> | Last updated: 15th May 2022</footer>
  </body>
</html>
